{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ form.order_number.value }}
{% endblock title %}


{% block custom_head %}
<link rel="stylesheet" href='{% static "css/new_order.css" %}'>

    <!-- всплывающие подсказки -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}


{% block container %}
    <form method="post" action="" id="form_new_order_data">
        {% csrf_token %}
        {{ form.order_number }}
        <div class="container-lg">
            <div class="row">

                <!-- Блок Новый заказ - слева -->
                <div class="col pr-1 flex-grow-0">
                    <!-- Вкладки -->
                    <ul class="nav nav-tabs mt-2" id="new-order-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#order">Заказ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#details">Детали доставки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#advanced">Отметки</a>
                        </li>
                    </ul>

                    <!-- Содержимое вкладок (левая колонка) -->
                    <div class="tab-content mt-3" style="width: 450px">
                        <!-- Первый блок - Заказ (он отображается по умолчанию, т.к. имеет классы show и active) -->
                        <div class="tab-pane fade active show mr-3" id="order">
                            <table class="table input_to_text">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Наименование</th>
                                    <th scope="col" nowrap>Кол-во</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Сумма</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{ formset.management_form }}
                                {% for f in formset %}
                                    <tr id="row_id_{{ forloop.counter0 }}">
                                        {{ f.order_item_order_number }}
                                        <th scope="row">{{ f.order_item_item_id }}</th>
                                        <td class="input_quantity">
                                            {{ f.order_item_quantity }}
                                            {% if formset.can_delete %}
                                                <span class="d-none">{{ f.DELETE }}</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ f.order_item_price }}</td>
                                        <td class="text-center">{{ f.order_item_summa }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                                    {% for dict in formset.errors %}
                                        {% for error in dict.values %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endfor %}

                        {% for form in formset %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <!-- form.visible fields go here -->
{% endfor %}

                            <div id="empty_form" style="display:none">
                                <table>
                                    <tbody>
                                    {{ formset.empty_form }}
                            </table>
                        </div>
                    </div>

                    <!-- Второй блок - Детали -->
                    <div class="tab-pane mr-3 fade" id="details">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Филиал / Точка</span>
                            </div>
                            {{ form.order_branch }}
                        </div>

                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Телефон</span>
                            </div>
                            {{ form.order_client_phone }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Имя</span>
                            </div>
                            {{ form.order_client_name }}
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Улица</span>
                            </div>
                            {{ form.order_delivery_street }}
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Дом</span>
                            </div>
                            {{ form.order_delivery_house }}
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Подъезд</span>
                            </div>
                            {{ form.order_delivery_entrance }}
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Этаж</span>
                            </div>
                            {{ form.order_delivery_floor }}
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Кв. (офис)</span>
                            </div>
                            {{ form.order_delivery_flat }}
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Примечание</span>
                            </div>
                            {{ form.order_comment }}
                        </div>
                    </div>

                    <!-- Третий блок - Отметки -->
                    <div class="tab-pane mr-3 fade" id="advanced">
                        <!-- {{ form.errors }}-->
                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Предзаказ</span>
                            </div>
                            <div class="custom-file custom-calendar" style="min-width:190px">
                                {{ form.order_date_time }}
                                <!--suppress XmlInvalidId -->
                                <label class="input-group-text" for="data-timepicker"></label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="far fa-question-circle ml-1 mr-1" data-toggle="tooltip" title="Позволяет создавать заказ на определенную дату.
Предзаказ отображается как обычный заказ на дату предзаказа."></i></span>
                            </div>
                        </div>

                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width:180px">Сертификат</span>
                            </div>
                            {{ form.order_certificate }}

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Найти</button>
                                <span class="input-group-text"><i class="far fa-question-circle ml-1 mr-1"
                                        data-toggle="tooltip" title="С помощью сертификата можно
                        добавлять в заказ подарки или товары с заданной ценой. Сертификаты создаются
                        в соответствующем справочнике."></i></span>
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:180px">Узнали
                                    из</label>
                            </div>
                            {{ form.order_learning_from }}
                        </div>

                        {#                        <div class="input-group mb-3">#}
                        {#                            <div class="input-group-prepend">#}
                        {#                                <label class="input-group-text" style="width:180px">Оплата</label>#}
                        {#                            </div>#}
                        {#                            {{ form.order_payment }}#}
                        {#                        </div>#}

                        <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                            {% for pay in form.order_payment %}
                                <label for="{{ pay.id_for_label }}" class="btn
                                {% if forloop.last %}
                                btn-outline-secondary col-1
                                {% else %}
                                btn-outline-primary
                                {% endif %}">{{ pay.tag }}{{ pay.choice_label }}</label>
                            {% endfor %}
                        </div>


                        <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                            {% for mark in form.order_marks %}
                                <label class="btn
                                {% if forloop.last %}
                                btn-outline-secondary col-1 active
                                {% else %}
                                btn-outline-primary
                                {% endif %}"
                                       for="{{ mark.id_for_label }}">
                                    {{ mark.tag }}{{ mark.choice_label }}
                                </label> {% endfor %}
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col">
                    <!-- Поиск -->
                    <div class="row">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Поиск">
                            <div class="input-group-append">
                                <span class="input-group-text">Найти</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Блок с категориями - по центру -->
                        <div class="col px-0 bg-light custom-nav flex-grow-0" style="width: 143px">
                            <ul class="nav nav-tabs mt-2 mb-1 flex-column">
                                {% for category in category_list %} {% if category.category_show %}
                                    <li class="nav-item"><a
                                            class="nav-link mx-0 px-1 {% if forloop.counter == 1 %}active{% endif %}"
                                            data-toggle="tab" href="#id_{{ category.category_id }}">
                                        {{ category.category_name }}</a></li>
                                {% endif %} {% endfor %}
                            </ul>
                        </div>

                        <!-- Блок с товарам - справа -->
                        <div class="col pr-0">
                            <div class="tab-content custom-list mt-2">
                                {% for category in category_list %} {% if category.category_show %}
                                    <div class="tab-pane fade {% if forloop.counter == 1 %}active show{% endif %}"
                                         id="id_{{ category.category_id }}">
                                        <div class="list-group">
                                            {% for item in item_list %}
                                                {% if item.item_category_id == category.category_id %}
                                                    {% if item.item_show %}
                                                        <a href="javascript://"
                                                           onclick="addRow('{{ form.order_number.value }}', '{{ item.item_id }}', '{{ item.item_name }}', '{{ item.item_price }}'); return false;"
                                                           class="list-group-item list-group-item-action">
                                                            {{ item.item_name }} <span>{{ item.item_price }} руб.</span>
                                                        </a> {% endif %} {% endif %} {% endfor %}
                                        </div>
                                    </div>
                                {% endif %} {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Нижний блок -->
        <footer class="footer">
            <div class="container-xl">
                <div class="row  align-items-center pt-3 pb-3">
                    <div class="col mt-1">
                        <div class="input-group" style="width:150px">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Приборы</span>
                            </div>
                            {{ form.order_person }}
                        </div>
                    </div>
                    <div class="col mt-1">
                        <div class="input-group" style="width:150px">
                            {{ form.order_sale }}
                        </div>
                    </div>

                    <div class="col mt-1">
                        {{ form.order_price }}
                    <div class="input-group" style="min-width:175px">
                        <span class="alert alert-success mb-0">К оплате <span id="total_price">0</span> руб.</span>
                    </div>
                </div>

                <div class="col mt-1">
                    <div class="input-group" style="min-width:170px">

                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i> Сохранить
                            </button>
                        </div>
                        <div class="input-group-append" id="button-addon4">
                            <button class="btn btn-danger" type="button"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </footer>
    </form>
{% endblock %}


{% block scripts %}
    <script src='{% static "js/new_order.js" %}'></script>

    <script>
        function setHeiHeight() {
            let footerHeight = document.querySelector('footer').offsetHeight;
            let navBarHeight = document.querySelector('nav').offsetHeight;
            let tabsHeight = document.querySelector('#new-order-tabs').offsetHeight

            $('#order').css({
                height: $(window).height() - footerHeight - navBarHeight - tabsHeight - 23 + 'px'
            });
        }

        setHeiHeight(); // устанавливаем высоту окна при первой загрузке страницы
        $(window).resize(setHeiHeight); // обновляем при изменении размеров окна
    </script>
{% endblock %}